name: CI

on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main

jobs:
    ci:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Install Rust toolchain
              uses: dtolnay/rust-toolchain@stable
              with:
                  components: rustfmt, clippy

            - name: Rust cache
              uses: Swatinem/rust-cache@v2

            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                  python-version: "3.x"

            - name: Run pre-commit
              uses: pre-commit/action@v3.0.1

            - name: Clippy
              run: cargo clippy --all-targets --all-features -- -D warnings

            - name: Tests
              run: cargo test --all-features
